# Python 
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# Visual Studio Code
.vscode/*

# Others
.ipynb_checkpoints/*
checkpoint

cifar-10-batches-py/*
cifar-10-python.tar.gz
*.p

image_classification.meta
image_classification.index
image_classification.data*